default vesamenu.c32
timeout 50

display boot.msg

menu background splash.jpg
menu title Welcome to installation!
menu color border 0 #ffffffff #00000000
menu color sel 7 #ffffffff #ff000000
menu color title 0 #ffffffff #00000000
menu color tabmsg 0 #ffffffff #00000000
menu color unsel 0 #ffffffff #00000000
menu color hotsel 0 #ff000000 #ffffffff
menu color hotkey 7 #ffffffff #ff000000
menu color scrollbar 0 #ffffffff #00000000

label linux
  menu label ^Install {{ mkiso_label }}
  menu default
  kernel vmlinuz
  append initrd=initrd.img ks=cdrom://ks.cfg
