auth {{ mkiso_ks_auth }}
url --url="{{ mkiso_url }}"
{{ mkiso_ks_repos }}
{{ mkiso_ks_action_after_successful_installation}}
firstboot {{ mkiso_ks_firstboot }}
ignoredisk {{ mkiso_ks_ignore_disk }}
keyboard {{ mkiso_ks_keyboard }}
lang {{ mkiso_ks_lang }}

{% if mkiso_ks_bootproto == 'static' %}
network --bootproto=static --ip={{ mkiso_ks_ip }} --netmask={{ mkiso_ks_netmask }} --gateway={{ mkiso_ks_gateway }} --nameserver={{ mkiso_ks_name_server }} --activate
{% else %}
network --bootproto=dhcp
{% endif %}
network --hostname={{ mkiso_ks_hostname }}

rootpw {{ mkiso_ks_root_password }}
services {{ mkiso_ks_services }}
timezone {{ mkiso_ks_timezone }}
bootloader {{ mkiso_ks_bootloader }}

{{ mkiso_ks_partions }}

{{ mkiso_ks_packages }}

{{ mkiso_ks_ssh_key }}

{{ mkiso_ks_custom_content }}

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
