zerombr
clearpart --all --drives={{ mkiso_ks_disk_device }}
part /boot --fstype="ext4" --size=1024 --ondisk={{ mkiso_ks_disk_device }}
{% if mkiso_boot_mode == 'uefi' %}
part /boot/efi --fstype=efi --size=128 --grow --maxsize=256
{% endif %}
part pv.01 --size=1024 --grow --ondisk={{ mkiso_ks_disk_device }}
volgroup rootvg --pesize=4096 pv.01
logvol swap --name=swap --fstype="swap" --size=8196 --vgname=rootvg
logvol / --name=root --fstype="xfs" --size=1024 --grow --maxsize=60200 --vgname=rootvg
logvol /home --name=home --fstype="xfs" --size=1024 --grow --vgname=rootvg
