{% if mkiso_populate_ssh_key %}
%post
{% if mkiso_ssh_user == 'root' %}
mkdir -m0700 /{{ mkiso_ssh_user }}/.ssh/
cat <<EOF >/{{ mkiso_ssh_user }}/.ssh/authorized_keys
{{ mkiso_ssh_public_key }}
EOF
chmod 0600 /{{ mkiso_ssh_user }}/.ssh/authorized_keys
restorecon -R /{{ mkiso_ssh_user }}/.ssh/
{% else %}
mkdir -m0700 /home/{{ mkiso_ssh_user }}/.ssh/
cat <<EOF >/home/{{ mkiso_ssh_user }}/.ssh/authorized_keys
{{ mkiso_ssh_public_key }}
EOF
chmod 0600 /home/{{ mkiso_ssh_user }}/.ssh/authorized_keys
restorecon -R /home/{{ mkiso_ssh_user }}/.ssh/
{% endif %}

%end
{% endif %}
